/*
Arial (sans-serif)
Verdana (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)

Times New Roman (serif)
Georgia (serif)
Garamond (serif)

Courier New (monospace)

Brush Script MT (cursive)

https://fonts.google.com

*/

.global {
    background-color: rgb(97, 142, 174);
    color: rgb(0, 38, 87);
    width:100%;
    justify-content: center;
}

.header {
    background-color: rgb(51, 80, 117);
}

.footer {
    background-color: rgb(51, 80, 117);
    color:rgb(222, 222, 222);;
    font-family: Helvetica, Arial, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.headertext {
    color: rgb(222, 222, 222);;
    font-family: "Bilbo", "Lucida Handwriting", "Brush Script MT", cursive;
    font-size: 4vw;

    display:inline-block;
    position: relative;
    top: 50%;
    height: 50%;
    transform: translateY(-50%);
    padding:40px;
}

.logo {
    height:200px;
}

.facebook {
    font-size:large;
}

.facebook:hover {
    filter: contrast(70%);
}

.menu {
    width:100%;
    display: flex;
    justify-content: center;
    font-size:larger;
}

.menuitem {
    display:inline-block;
    padding:10px;
    color:rgb(255, 237, 158);
    padding-left:20px;
    padding-right:20px;
}

.menuitem:hover {
    color:burlywood;
}

.tabtitle {
    color:rgb(222, 222, 222);;
    font-size: 8vw;
    font-family: "Bilbo", "Lucida Handwriting", "Brush Script MT", cursive;

    display:inline-block;
    width:100%;
    text-align: center;
}

.tabsubtitle {
    color:rgb(222, 222, 222);;
    font-size:x-large;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    display:inline-block;
    width:100%;
    text-align: center;
}

.facebookfooter {
    width:100%;
    display: flex;
    justify-content: center;
}

.menuitemview {
    width: 80%;
}
  
.tabtext {
    width:80%;
    line-height: 1.8;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    padding-left:20%;
    padding-right:20%;
}

.organizer {
    width:100%;
    color: rgb(140, 151, 154);
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}

.eventlocation {
    width:100%;
    font-size: x-large;
    text-align: center;
    margin: 10px;
}

.eventdates {
    width:100%;
    font-size: x-large;
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}

.feedback {
    width:100%;
    text-align: center;
    margin: 10px;
}

a:link {
    color: rgb(222, 222, 222);;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: rgb(200,200,200);
  }
  
  a:visited {
    color: rgb(222, 222, 222);;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: rgb(200,200,200);
  }
  
  a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
  }
